In [10]:
import pandas as pd
import os

path=os.getcwd()

In [23]:
path=os.getcwd()
data_weather = pd.read_csv(os.path.join(path, 'submissions/dummies/external_data.csv'))
X_weather = data_weather[['Date', 'AirPort', 'Events','Mean TemperatureC','Dew PointC','Mean Humidity', \
                          'Mean Sea Level PressurehPa','Mean VisibilityKm','Mean Wind SpeedKm/h','CloudCover']]
X_weather = X_weather.rename(
    columns={'Date': 'DateOfDeparture', 'AirPort': 'Arrival'})

In [24]:
X_weather

,DateOfDeparture,Arrival,Events,Mean TemperatureC,Dew PointC,Mean Humidity,Mean Sea Level PressurehPa,Mean VisibilityKm,Mean Wind SpeedKm/h,CloudCover
0,2011-09-01,ATL,NaN,29,21,56,1019,16,6,3
1,2011-09-02,ATL,NaN,29,17,46,1016,16,7,2
2,2011-09-03,ATL,NaN,29,17,47,1013,16,7,4
3,2011-09-04,ATL,Rain,24,22,72,1012,14,9,6
4,2011-09-05,ATL,Rain-Thunderstorm,24,23,91,1005,13,16,8
...,...,...,...,...,...,...,...,...,...,...
11035,2013-03-01,LGA,NaN,5,-1,63,1005,16,21,6
11036,2013-03-02,LGA,Snow,2,-2,65,1007,15,20,8
11037,2013-03-03,LGA,Snow,2,-5,55,1006,15,24,6
11038,2013-03-04,LGA,NaN,2,-7,54,1009,16,31,3
11039,2013-03-05,LGA,NaN,5,-3,49,1015,16,16,2

In [26]:
%matplotlib inline
import imp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [27]:
problem = imp.load_source('', 'problem.py')

In [28]:
X_df, y_array = problem.get_train_data()