In [60]:
import pandas as pd
import numpy as np
import os
# Create a File with Special Sport Events

df_sport_events=pd.DataFrame()
Airport_array=np.array(['ATL', 'BOS', 'CLT', 'DEN', 'DFW', 'DTW', 'EWR', 'IAH', 'JFK',
       'LAS', 'LAX', 'LGA', 'MCO', 'MIA', 'MSP', 'ORD', 'PHL', 'PHX','SEA', 'SFO'])

In [61]:
Daytona_500=pd.DataFrame(columns=['Airport', 'Event', 'Date'])
Event={'Airport':'DAB','Event':'Daytona500'}

Event['Date']='2011-02-20';Daytona_500.loc[0]=Event
Event['Date']='2012-02-27';Daytona_500.loc[1]=Event
Event['Date']='2013-02-24';Daytona_500.loc[2]=Event
Event['Date']='2014-02-23';Daytona_500.loc[3]=Event
Event['Date']='2015-02-22';Daytona_500.loc[4]=Event
Event['Date']='2010-02-14';Daytona_500.loc[5]=Event

In [62]:
Super_Bowl=pd.DataFrame(columns=['Airport', 'Event', 'Date'])
Event={'Event':'Super_Bowl'}

Event['Date']='2010-02-07';Event['Airport']='MIA';Super_Bowl.loc[0]=Event
Event['Date']='2011-02-06';Event['Airport']='DWF';Super_Bowl.loc[1]=Event
Event['Date']='2012-02-05';Event['Airport']='IND';Super_Bowl.loc[2]=Event
Event['Date']='2013-02-03';Event['Airport']='MSY';Super_Bowl.loc[3]=Event
Event['Date']='2014-02-03';Event['Airport']='EWR';Super_Bowl.loc[4]=Event
Event['Date']='2015-02-01';Event['Airport']='PHX';Super_Bowl.loc[5]=Event

In [63]:
BaseBall_WorldSeries=pd.DataFrame(columns=['Airport', 'Event', 'Date'])
Event={'Event':'BaseBall_WorldSeries'}

Event['Date']='2010-10-27';Event['Airport']='SFO';BaseBall_WorldSeries.loc[0]=Event
Event['Date']='2010-10-28';Event['Airport']='SFO';BaseBall_WorldSeries.loc[1]=Event
Event['Date']='2010-10-30';Event['Airport']='DFW';BaseBall_WorldSeries.loc[2]=Event
Event['Date']='2010-10-31';Event['Airport']='DFW';BaseBall_WorldSeries.loc[3]=Event
Event['Date']='2010-11-01';Event['Airport']='SFO';BaseBall_WorldSeries.loc[4]=Event

Event['Date']='2011-10-19';Event['Airport']='STL';BaseBall_WorldSeries.loc[5]=Event
Event['Date']='2011-10-20';Event['Airport']='STL';BaseBall_WorldSeries.loc[6]=Event
Event['Date']='2011-10-22';Event['Airport']='DFW';BaseBall_WorldSeries.loc[7]=Event
Event['Date']='2011-10-23';Event['Airport']='DFW';BaseBall_WorldSeries.loc[8]=Event
Event['Date']='2011-10-24';Event['Airport']='DFW';BaseBall_WorldSeries.loc[9]=Event
Event['Date']='2011-10-27';Event['Airport']='STL';BaseBall_WorldSeries.loc[10]=Event
Event['Date']='2011-10-28';Event['Airport']='STL';BaseBall_WorldSeries.loc[11]=Event

Event['Date']='2012-10-24';Event['Airport']='SFO';BaseBall_WorldSeries.loc[12]=Event
Event['Date']='2012-10-25';Event['Airport']='SFO';BaseBall_WorldSeries.loc[13]=Event
Event['Date']='2012-10-27';Event['Airport']='DTW';BaseBall_WorldSeries.loc[14]=Event
Event['Date']='2012-10-28';Event['Airport']='DTW';BaseBall_WorldSeries.loc[15]=Event

Event['Date']='2013-10-23';Event['Airport']='BOS';BaseBall_WorldSeries.loc[16]=Event
Event['Date']='2013-10-24';Event['Airport']='BOS';BaseBall_WorldSeries.loc[17]=Event
Event['Date']='2013-10-26';Event['Airport']='STL';BaseBall_WorldSeries.loc[18]=Event
Event['Date']='2013-10-27';Event['Airport']='STL';BaseBall_WorldSeries.loc[19]=Event
Event['Date']='2013-10-28';Event['Airport']='STL';BaseBall_WorldSeries.loc[20]=Event
Event['Date']='2013-10-30';Event['Airport']='BOS';BaseBall_WorldSeries.loc[21]=Event

Event['Date']='2014-10-21';Event['Airport']='MCI';BaseBall_WorldSeries.loc[22]=Event
Event['Date']='2014-10-22';Event['Airport']='MCI';BaseBall_WorldSeries.loc[23]=Event
Event['Date']='2014-10-24';Event['Airport']='SFO';BaseBall_WorldSeries.loc[24]=Event
Event['Date']='2014-10-25';Event['Airport']='SFO';BaseBall_WorldSeries.loc[25]=Event
Event['Date']='2014-10-26';Event['Airport']='SFO';BaseBall_WorldSeries.loc[26]=Event
Event['Date']='2014-10-28';Event['Airport']='MCI';BaseBall_WorldSeries.loc[27]=Event
Event['Date']='2014-10-29';Event['Airport']='MCI';BaseBall_WorldSeries.loc[28]=Event


Event['Date']='2015-10-27';Event['Airport']='MCI';BaseBall_WorldSeries.loc[29]=Event
Event['Date']='2015-10-28';Event['Airport']='MCI';BaseBall_WorldSeries.loc[30]=Event
Event['Date']='2015-10-30';Event['Airport']='JFK';BaseBall_WorldSeries.loc[31]=Event
Event['Date']='2015-10-31';Event['Airport']='JFK';BaseBall_WorldSeries.loc[32]=Event
Event['Date']='2015-11-01';Event['Airport']='JFK';BaseBall_WorldSeries.loc[33]=Event

In [65]:
Basket_NCAA=pd.DataFrame(columns=['Airport', 'Event', 'Date'])
Event={'Event':'Basket_NCAA'}

Event['Date']='2010-04-03';Event['Airport']='IND';Basket_NCAA.loc[0]=Event
Event['Date']='2010-04-05';Event['Airport']='IND';Basket_NCAA.loc[1]=Event
Event['Date']='2011-04-02';Event['Airport']='IAH';Basket_NCAA.loc[2]=Event
Event['Date']='2011-04-04';Event['Airport']='IAH';Basket_NCAA.loc[3]=Event
Event['Date']='2012-03-31';Event['Airport']='MSY';Basket_NCAA.loc[4]=Event
Event['Date']='2012-04-02';Event['Airport']='MSY';Basket_NCAA.loc[5]=Event
Event['Date']='2013-04-06';Event['Airport']='ATL';Basket_NCAA.loc[6]=Event
Event['Date']='2013-04-08';Event['Airport']='ATL';Basket_NCAA.loc[7]=Event
Event['Date']='2014-04-05';Event['Airport']='AWO';Basket_NCAA.loc[8]=Event
Event['Date']='2014-04-07';Event['Airport']='AWO';Basket_NCAA.loc[9]=Event
Event['Date']='2015-04-04';Event['Airport']='IND';Basket_NCAA.loc[10]=Event
Event['Date']='2015-04-06';Event['Airport']='IND';Basket_NCAA.loc[11]=Event

In [87]:
Marathon_NYC=pd.DataFrame(columns=['Airport', 'Event', 'Date'])
Event={'Event':'Marathon_NYC','Airport':'JFK'}

Event['Date']='2010-11-07';Marathon_NYC.loc[0]=Event
Event['Date']='2011-11-06';Marathon_NYC.loc[1]=Event
Event['Date']='2012-11-04';Marathon_NYC.loc[2]=Event
Event['Date']='2013-11-03';Marathon_NYC.loc[3]=Event
Event['Date']='2014-11-02';Marathon_NYC.loc[4]=Event
Event['Date']='2015-11-01';Marathon_NYC.loc[5]=Event
#Event['Date']='2011-11-06';d=Event.copy();Marathon_NYC.append([d])
Marathon_NYC

  Airport         Event        Date
0     JFK  Marathon_NYC  2010-11-07
1     JFK  Marathon_NYC  2011-11-06
2     JFK  Marathon_NYC  2012-11-04
3     JFK  Marathon_NYC  2013-11-03
4     JFK  Marathon_NYC  2014-11-02
5     JFK  Marathon_NYC  2015-11-01

In [88]:
df_sport_events=pd.concat([Daytona_500, Super_Bowl, BaseBall_WorldSeries,Basket_NCAA,Marathon_NYC],sort=False,axis=0)
df_sport_events=df_sport_events.reset_index()

In [89]:
path=os.getcwd()
df_sport_events.to_csv(os.path.join(path,'submissions/dummies/events_data.csv'), sep=',', encoding='utf-8',
                                    index=False,header='true')

In [90]:
df_sport_events
#df_sport_events.groupby(['Date','Airport'])['Event'].count()

    index Airport         Event        Date
0       0     DAB    Daytona500  2011-02-20
1       1     DAB    Daytona500  2012-02-27
2       2     DAB    Daytona500  2013-02-24
3       3     DAB    Daytona500  2014-02-23
4       4     DAB    Daytona500  2015-02-22
..    ...     ...           ...         ...
59      1     JFK  Marathon_NYC  2011-11-06
60      2     JFK  Marathon_NYC  2012-11-04
61      3     JFK  Marathon_NYC  2013-11-03
62      4     JFK  Marathon_NYC  2014-11-02
63      5     JFK  Marathon_NYC  2015-11-01

[64 rows x 4 columns]